language: scala

scala:
  - "2.11.6"

jdk:
  - oraclejdk8

env:
  - CASSANDRA_VERSION=3.11.0 SPARK_VERSION=2.2.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.14 SPARK_VERSION=2.2.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.11 SPARK_VERSION=2.2.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.19 SPARK_VERSION=2.2.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.11.0 SPARK_VERSION=2.1.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.14 SPARK_VERSION=2.1.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.11 SPARK_VERSION=2.1.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.19 SPARK_VERSION=2.1.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.11.0 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.14 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.11 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.19 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7

addons:
  apt:
    packages:
    - build-essential
    - python-dev
    - python-pip
    - python-tox
    - python-virtualenv
    - libev4
    - libev-dev
    - ant
  
script: JVM_OPTS=-XX:-UseNUMA make clean lint dist start-cassandra test-travis stop-cassandra

sudo: required
dist: trusty

cache:
  directories:
    - $HOME/.m2
    - $HOME/.ivy2
    - $HOME/.sbt
    - $HOME/.local
    - $HOME/.cache/pip

