language: scala

scala:
  - "2.11.8"

jdk:
  - openjdk8

env:
  - CASSANDRA_VERSION=3.11.2 SPARK_VERSION=2.3.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.16 SPARK_VERSION=2.3.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.12 SPARK_VERSION=2.3.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.20 SPARK_VERSION=2.3.0 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.11.2 SPARK_VERSION=2.2.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.16 SPARK_VERSION=2.2.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.12 SPARK_VERSION=2.2.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.20 SPARK_VERSION=2.2.1 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.11.2 SPARK_VERSION=2.1.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.16 SPARK_VERSION=2.1.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.12 SPARK_VERSION=2.1.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.20 SPARK_VERSION=2.1.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.11.2 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=3.0.16 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.2.12 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7
  - CASSANDRA_VERSION=2.1.20 SPARK_VERSION=2.0.2 SPARK_PACKAGE_TYPE=hadoop2.7

addons:
  apt:
    packages:
    - build-essential
    - python-dev
    - python-pip
    - python-tox
    - python-virtualenv
    - libev4
    - libev-dev
    - ant
  
script: JVM_OPTS=-XX:-UseNUMA make clean lint dist start-cassandra test-travis stop-cassandra

# trusty w/ sudo-enabled VM. (no container-based trusty because of Java errors w/ Cassandra)
# https://docs.travis-ci.com/user/reference/overview/
sudo: required
dist: trusty

cache:
  directories:
    - $HOME/.m2
    - $HOME/.ivy2
    - $HOME/.sbt
    - $HOME/.local
    - $HOME/.cache/pip

